DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
CORS_ALLOWED_ORIGINS=http://localhost:5173
STORE1_USER=
STORE1_PASS=
STORE2_USER=
STORE2_PASS=
